<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">		
</head>
<body>
	<table width="600">
		<tr>
			<td style="text-align: right;">
				<img src="http://www.dfgtruckparts.com/static/publico/img/email/logo-dfg.jpg">
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<table style="margin-left: 20px;margin-right: 20px;">
						<tr>
							<td colspan="2">
								<span style="font-size: 18px;color: #d7d7d7;font-family: Tahoma;line-height: 17px;">Hola({{ name }}):</span><br>
								<span style="color: #706f6f;font-weight: bold;font-family: Tahoma;font-size: 12px;line-height: 17px;">Tu pregunta fue:<br>{{ question }}</span><br><br>
								¡Gracias por tu visita! En breve uno de nuestros funcionarios  se contactará contigo para responder a tus preguntas.Te invitamos a seguir viendo nuestros productos y las novedades que tenemos para ti en <a href="http://wwww.dfgtruckparts.com" style="color: #a9171f;font-weight: bold;">wwww.dfgtruckparts.com</a>
								<br><br>
							</td>			
						</tr>
						<tr>
							<td>
								<a href="http://www.dfgtruckparts.com/offers_promotions" target="_blank"><img src="http://www.dfgtruckparts.com/static/publico/img/email/link-new-arrivals.jpg"></a>								
							</td>
                            <td>
                            	<a href="http://www.dfgtruckparts.com/products_catalog" target="_blank"><img src="http://www.dfgtruckparts.com/static/publico/img/email/link-catalogo.jpg"></a>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>		
		<tr>
			<td style="background-color: #a9171f;text-align: center;height: 45px;">
				<span style="font-weight: bold;color: #ffffff;font-size: 11px;font-family: Tahoma;line-height: 17px;">DFG - COSTUMER SERVICE</span><br>
				<span style="color: #ffffff;font-size: 11px;font-family: Tahoma;line-height: 17px;">costumerservice@dfgtruckparts.com</span>
			</td>
		</tr>
	</table>
</body>
</html>